// Import theming functions
@import '~@angular/material/theming';
// My custom theme
@import 'src/theme.scss';
// Use mat-color to extract individual colors from a palette as necessary.

.celula-de-reserva-do-grid-container {
  position: relative;

  max-width: 200px;

  box-sizing: border-box;

  overflow: hidden;

  background-color: mat-color($app-warn, 600);

  border-radius: 4px;

  text-align: center;
}

.celula-de-reserva-do-grid-usuario-label {
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  font-size: 16px;
  width: 24px;
  height: 24px;
  line-height: 1.6;
  font-weight: 600;
}